{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <div class="container mt-4">
        <a class="btn btn-sm btn-success mb-2" href="{{ path('app_back_user_new') }}">Créer</a>
        
        <h1 class="mb-4">Liste des Utilisateurs</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('app_back_user_show', {'id': user.id}) }}">Voir</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('app_back_user_edit', {'id': user.id}) }}">Modifier</a>
                        {{ include('back/user/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    
{% endblock %}
